body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul{
  list-style-type: none;
}

.nav {
  overflow: hidden;
  background-color: #e9e9e9;
}

.nav-item {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav-item:hover {
  background-color: #ddd;
  color: black;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.search-bar {
  float: right;
}

.search-bar button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.search-bar input {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.home-container {
  padding-top: 5rem;
  text-align: center;
}

.upload-video-container {
  padding-top: 5rem;
  text-align: center;
}

.dropzone:hover {
  cursor: pointer;
}

.btn {
  margin-top: 2rem;
}
.btn{
  width: max-content;
  display: inline-block;
  transition: var(--transition);
  padding: 0.75rem 1.2rem;
  border: 2px solid ;
  border-radius: 0.4rem;
  cursor: pointer;
}

.btn:hover {
  background: #868e96;
  cursor: pointer;
}

video {
  height: 360px;
  width: 640px;
}

/* ul {
  display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1.5rem;
    margin-top: 2rem;
} */

/* li > video {
  height: 180px;
  width: 320px;
} */